body, h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, Arial, sans-serif;
}
sup   {color: #48c9b0;}  /* Note to self: Remove later, as footnote numbers should be blue to make it obvious that they're hyperlinks  */

.callout-body {
  font-style: italic;
}

.centered {
  text-align: center;
  
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above other content */
}